@use 'variables';

.event {
    padding: 80px 0;

    &--frontend  {
        background-image: linear-gradient(180deg, variables.$blue1, variables.$blue2);
    }
    &--data-science {
        background-image: linear-gradient(180deg, variables.$pink, variables.$yellow);
    }
    &--ui-ux  {
        background-image: linear-gradient(180deg, variables.$blue2, variables.$pink);
    }
    &--backend  {
        background-image: linear-gradient(180deg, variables.$yellow, variables.$pink);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }
    
    .container {
        display: flex;
        gap: 40px;

        @media (max-width: 640px) {
            display: block;
        }
    }

    &__image {
        max-width: 360px;
        border-radius: 8px;

        @media (max-width: 640px) {
            width: 100%;
        }
    }

    &__details {

        @media (max-width: 640px) {
            margin-right: 0;
            margin-bottom: 16px;
        }

        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            font-size: 16px;
            line-height: 22px;
        }
    }
}